
# Server
APP_HOST=0.0.0.0
APP_PORT=8080
LOG_LEVEL=debug

# Mascaro
SHOPIFY_MASCARO_DOMAIN=
SHOPIFY_MASCARO_CLIENT_ID=
SHOPIFY_MASCARO_CLIENT_SECRET=

# Pretty
SHOPIFY_PRETTY_TOKEN=
SHOPIFY_PRETTY_DOMAIN=

SHOPIFY_API_VERSION=2026-07

APISAP=
